

<h1>Crear nuevo Comic</h1>
<a asp-controller="Comic" asp-action="Index">Volver a la lista</a>
<hr/>
<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" />
     <label>Imagen:</label>
    <input type="text" name="imagen" />
     <label>Descripcion:</label>
    <input type="text" name="descripcion" />
    <button class="btn btn-success">Insertar nuevo comic</button>
</form>